<!-- start ml5 head snippets -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/ml5@latest/dist/ml5.min.js" type="text/javascript"></script>
<script src="/assets/ml5/lstm.js" type="text/javascript"></script>
<script src="/assets/js/print.js" type="text/javascript"></script>

<!-- Imported from: https://stackoverflow.com/questions/1960939/disabling-browser-print-options-headers-footers-margins-from-page -->
<style type="text/css" media="print">
  @page 
    {
    size:  auto;   /* auto is the initial value */
    margin: 0px;  /* this affects the margin in the printer settings */
  }

  html
    {
    background-color: #FFFFFF; 
    margin: 0px;  /* this affects the margin on the html before sending to printer */
  }

  body
    {
    border: solid 1px white; 
    margin: 50mm 80mm 80mm 80mm; /* margin you want for the content */
  }
</style>
<!-- end ml5 head snippets -->
