[submodule "_imports/alors-seulement-le-reve"]
	path = _imports/alors-seulement-le-reve
	url = https://github.com/jchwenger/alors-seulement-le-reve
[submodule "_imports/lacanage"]
	path = _imports/lacanage
	url = https://github.com/jchwenger/lacanage
[submodule "_imports/vegans"]
	path = _imports/vegans
	url = https://github.com/jchwenger/vegans/
