---
layout: home
author_profile: false
---

<h1>Code</h1>
<ul>
  {% for project in site.projects.code  %}
    <li class='list-home'>
      <i class="{{ project.icon | default: 'fas fa-link' }}" aria-hidden="true"></i>&nbsp;&nbsp;{{ project.title }}
    <a href="{{ link.url }}"></a>
    </li>
  {% endfor %}
</ul>

{% include separators.html type='blank' %}

<h1>Web</h1>
<ul>
  {% for project in site.projects.web  %}
  <li class='list-home'>
    <i class="{{ project.icon | default: 'fas fa-link' }}" aria-hidden="true"></i>&nbsp;&nbsp;{{ project.title }}
  </li>
  {% endfor %}
</ul>
