---
layout: home
author_profile: false
classes: homepage
---

<h1>Code</h1>
<ul>
  {% for project in site.projects.code  %}
    <li class='list-home'>
      <a target="_blank" href="{{ project.url }}"><i class="{{ project.icon | default: 'fas fa-link' }}" aria-hidden="true"></i>&nbsp;&nbsp;{{ project.title }}</a>
    </li>
  {% endfor %}
</ul>

{% include separators.html type='blank' %}

<h1>Web</h1>
<ul>
  {% for project in site.projects.web  %}
  <li class='list-home'>
    <a target="_blank" href="{{ project.url }}"><i class="{{ project.icon | default: 'fas fa-link' }}" aria-hidden="true"></i>&nbsp;&nbsp;{{ project.title }}</a>
  </li>
  {% endfor %}
</ul>
