---
layout: splash
---

{{ content }}

<div>
  {% if site.posts.size > 0 %}
    <h1 class="accordion archive__subtitle" href="javascript:void(0);">{{ site.data.ui-text[site.locale].recent_posts | default: "" }}</h1>
    <div class="accordion-inner">
      {% for post in site.posts limit:5 %}
        {% include archive-single.html %}
      {% endfor %}
      <p align='right'><a href="{{ site.baseurl }}/texts/">All texts...</a></p>
    </div>
  {% endif %}
  <h1 class="accordion archive__subtitle" href="javascript:void(0);">Shows</h1>
  <!-- <a class="accordion" href="javascript:void(0);"></a> -->
  <div class="accordion-inner">
    {% for project in site.projects.projects  %}
    <div class="{{ include.type | default: "list" }}__item">
      <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ project.url }}">{{ project.title }}</a>{% if project.icon %}&nbsp;<i class="{{ project.icon }}" aria-hidden="true">{% endif %}</i>
      </h2>
      <p class="archive__item-excerpt" itemprop="description">{{ project.pitch }}</p>
    </div>
    {% endfor %}
  </div>
  <h1 class="accordion archive__subtitle" href="javascript:void(0);">Code</h1>
    <div class="accordion-inner">
      {% for project in site.projects.code  %}
      <div class="{{ include.type | default: "list" }}__item">
        <h2 class="archive__item-title" itemprop="headline">
          <a href="{{ project.url }}">{{ project.title }}</a>{% if project.icon %}&nbsp;<i class="{{ project.icon }}" aria-hidden="true">{% endif %}</i>
        </h2>
        <p class="archive__item-excerpt" itemprop="description">{{ project.pitch }}</p>
      </div>
      {% endfor %}
  </div>
  <h1 class="accordion archive__subtitle" href="javascript:void(0);">Other</h1>
  <div class="accordion-inner">
    {% for project in site.projects.other  %}
    <div class="{{ include.type | default: "list" }}__item">
      <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ project.url }}">{{ project.title }}</a>{% if project.icon %}&nbsp;<i class="{{ project.icon }}" aria-hidden="true">{% endif %}</i>
      </h2>
      <p class="archive__item-excerpt" itemprop="description">{{ project.pitch }}</p>
    </div>
    {% endfor %}
  </div>
</div>
