// ========================
//   ADD-ONS
// ========================

.homepage {
  font-family: $sans-serif;

  /* links */

  a {

    text-decoration: none;
    color: $muted-text-color;

    &:focus {
      @extend %tab-focus;
    }

    &:visited {
      color: $link-color-hover;
    }

    &:hover {
      color: $link-color-hover;
      outline: 0;
    }
  }
}

// Blockquote-like lists
li.plain {
  list-style-type: none;
  margin-bottom: 0.2;

  & .small {
    font-size: $type-size-6;
    line-height: 1;
  }
}

// Large lists for homepage
li.list-home {
  list-style-type: none;
  font-size: $type-size-4;
}

// Separators
.separator-outer {
  margin: 1em 0 0 1em;
  text-align: center;
}

.separator-inner {
  margin: 1em 0 0 1em;
  text-align: center;
}

.separator-blank {
  margin: 1em 0 0 1em;
}

// Poem indent, inspired by Ed https://github.com/elotroalex/ed/blob/gh-pages/_sass/_ed.scss

ul.poetry {

  > li {

    font-size: $type-size-6;
    @include breakpoint($small) {
      font-size: $type-size-5;
    }

    margin-bottom: 0em;
    list-style: none;
    list-style-type: none;
  }
  padding-left: 1rem;
  text-indent: -1rem;
}

.poetry span[class^='indent-']{
    margin: 0; /* reset browsers default margin styles*/
}

.indent-1 {
  font-style: normal;
  padding-left: 1rem;
}

.indent-2 {
  font-style: normal;
  padding-left: 2rem;
}

.indent-3 {
  font-style: normal;
  padding-left: 3rem;
}

.indent-4 {
  font-style: normal;
  padding-left: 4rem;
}

.indent-5 {
  font-style: normal;
  padding-left: 5rem;
}

.indent-6 {
  font-style: normal;
  padding-left: 6rem;
}

.indent-7 {
  font-style: normal;
  padding-left: 7rem;
}

.indent-8 {
  font-style: normal;
  padding-left: 8rem;
}

.indent-9 {
  font-style: normal;
  padding-left: 9rem;
}

.indent-10 {
  font-style: normal;
  padding-left: 10rem;
}
// Flexbox for solid page
// Solution found here: https://stackoverflow.com/a/36401995

@mixin flex-wrap-fix($flex-basis, $max-viewport-width: 2000px) {
  flex-grow: 1;
  flex-basis: $flex-basis;
  max-width: 100%;

  $multiplier: 1;
  $current-width: 0px;

  @while $current-width < $max-viewport-width {
    $current-width: $current-width + $flex-basis;
    $multiplier: $multiplier + 1;

    @media(min-width: $flex-basis * $multiplier) {
      max-width: percentage(1/$multiplier);
    }
  }
}

.wiki {
  display: flex;
  flex-flow: row  wrap; 
  padding-top: 20px;
  padding-bottom: 20px;

  > div {
      min-width:20%;
      @include flex-wrap-fix(100px);
    }

  p {
    font-size: $type-size-7;
    text-align: center;
    margin-bottom: 0; 
  }
}

// Pastiches & mélanges 

#jcw-signature{
  display: none; 
  float: right;
}

#lstm-controls {
  display: flex; 
  flex-wrap: wrap;

  > div {
    padding-left: 5px;
    padding-right: 5px;
  }

  > :first-child {

    width: 100%;

    // both input & select/sliders on one row above $medium
    @include breakpoint($medium){
      width: 60%;
    }
  }

  > :last-child {

    width: 100%;

    // both input & select/sliders on one row above $medium
    @include breakpoint($medium){
      width: 40%;
    }
  }

  textarea {
    height: 200px;
  }

  #model-select {

    // Smaller font when input & select on one row
    @include breakpoint($medium) {
      font-size: $type-size-8;
    }
    width: 100%;
  }

  #lstm-sliders {
    width: 100%;
    padding-top: 15px;
  }
}

#lstm-generate {

  button {
    width: 100%; 
    height: 50px;
  }

  > div {
    margin-top: 30px;
  }
}

#breaks {
  display: none;
}

#signature {
  display: none; 
  float: right;
}

#print-lstm {
  width: 100%;
  display: none; 
  height: 50px;
}

#print-lstm-div {
  padding-top: 60px;
}
