// ========================
//   ADD-ONS
// ========================

// Blockquote-like lists
li.plain {
  list-style-type: none;
  margin-bottom: 0.2;

  & .small {
    font-size: $type-size-6;
    line-height: 1;
  }
}

// Large lists for homepage
li.list-home {
  list-style-type: none;
  font-size: $type-size-4;
}

// Separators
.separator-outer {
  margin: 1em 0 0 1em;
  text-align: center;
}

.separator-inner {
  margin: 1em 0 0 1em;
  text-align: center;
}

.separator-blank {
  margin: 1em 0 0 1em;
}

// Flexbox for solid page
// Solution found here: https://stackoverflow.com/a/36401995

@mixin flex-wrap-fix($flex-basis, $max-viewport-width: 2000px) {
  flex-grow: 1;
  flex-basis: $flex-basis;
  max-width: 100%;

  $multiplier: 1;
  $current-width: 0px;

  @while $current-width < $max-viewport-width {
    $current-width: $current-width + $flex-basis;
    $multiplier: $multiplier + 1;

    @media(min-width: $flex-basis * $multiplier) {
      max-width: percentage(1/$multiplier);
    }
  }
}

.wiki {
  display: flex;
  flex-flow: row  wrap; 
  padding-top: 20px;
  padding-bottom: 20px;

  > div {
      min-width:20%;
      @include flex-wrap-fix(100px);
    }

  p {
    font-size: $type-size-7;
    text-align: center;
    margin-bottom: 0; 
  }
}

